<a href="https://colab.research.google.com/github/riyanshbuktar/Predicting-Loan-Approval/blob/main/Modeling3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Understand The Dataset**

In [24]:
import pandas as pd
import numpy as np

In [25]:
df_combined = pd.read_csv('/content/drive/MyDrive/Final Project/Lending_Clubs_loan_approval_optimization.csv')

In [26]:
df_combined.head()

   Unnamed: 0  Amount Requested  ...  Employment Length  Target
0           0            3600.0  ...                 10       1
1           1           24700.0  ...                 10       1
2           2           20000.0  ...                 10       1
3           3           10400.0  ...                  3       1
4           4           11950.0  ...                  4       1

[5 rows x 6 columns]

In [27]:
df_combined.shape

(2072806, 6)

In [28]:
df_combined.columns

Index(['Unnamed: 0', 'Amount Requested', 'Risk_Score', 'Debt-To-Income Ratio',
       'Employment Length', 'Target'],
      dtype='object')

In [29]:
df_combined.value_counts

<bound method DataFrame.value_counts of          Unnamed: 0  Amount Requested  ...  Employment Length  Target
0                 0            3600.0  ...                 10       1
1                 1           24700.0  ...                 10       1
2                 2           20000.0  ...                 10       1
3                 3           10400.0  ...                  3       1
4                 4           11950.0  ...                  4       1
...             ...               ...  ...                ...     ...
2072801     2072801           20000.0  ...                  0       0
2072802     2072802           20000.0  ...                  0       0
2072803     2072803            6000.0  ...                  5       0
2072804     2072804            3000.0  ...                  0       0
2072805     2072805           15000.0  ...                  0       0

[2072806 rows x 6 columns]>

# **Lets Split the Data for training and Testing**

---


We need to perform Feature Scaling when we are dealing with Gradient Descent Based algorithms (Linear and Logistic Regression, Neural Network) and Distance-based algorithms (KNN, K-means, SVM) as these are very sensitive to the range of the data points

In [30]:
df_combined.head(2)

   Unnamed: 0  Amount Requested  ...  Employment Length  Target
0           0            3600.0  ...                 10       1
1           1           24700.0  ...                 10       1

[2 rows x 6 columns]

In [31]:
df_combined.Target

0          1
1          1
2          1
3          1
4          1
          ..
2072801    0
2072802    0
2072803    0
2072804    0
2072805    0
Name: Target, Length: 2072806, dtype: int64

In [32]:
X = df_combined.iloc[:, 1:5]
Y = df_combined.iloc[:, 5]

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train , X_test , y_train , y_test = train_test_split(X, Y, test_size = 0.25, random_state = 0)

In [35]:
X_test.shape

(518202, 4)

In [36]:
X_train.shape

(1554604, 4)

In [37]:
y_test.shape

(518202,)

In [38]:
y_train.shape

(1554604,)

# **Let's train the our ML model**

In [39]:
from sklearn.linear_model import LogisticRegression

In [40]:
lr = LogisticRegression()

In [41]:
model = LogisticRegression()
model.fit(X_train , y_train)
pred = model.predict(X_test)
print ('-'*40)

y_pred = model.predict(X_test)
print('Accuracy = %0.4f'%np.mean(y_pred == y_test))
# print ('Accuracy of Logistic Regression: {:.3f}'.format(Accuracy_score(pred , y_test)*100))
print ('-'*40)\\

----------------------------------------
Accuracy = 0.8579
----------------------------------------

In [42]:
from sklearn.ensemble import RandomForestClassifier
model_RF = RandomForestClassifier() 
model_RF.fit(X_train , y_train)
pred = model_RF.predict(X_test)
print ('-'*40)

y_pred = model_RF.predict(X_test)
print('Accuracy = %0.4f'%np.mean(y_pred == y_test))
# print ('Accuracy of RandomForestClassifier : {:.3f}'.format(Accuracy_score(pred , y_test)*100))
print ('-'*40)\\

----------------------------------------
Accuracy = 0.8580
----------------------------------------

In [43]:
from sklearn.ensemble import RandomForestClassifier

model_RF = RandomForestClassifier(n_estimators=500, max_features=None, max_depth=6, bootstrap=True)
model_RF.fit(X_train, y_train)
print("Accuracy score of training data {} %:".format(model_RF.score(X_train, y_train)*100))
print("Accuracy score of testing data {} %".format(model_RF.score(X_test, y_test)*100))

Accuracy score of training data 88.7777208858333 %:
Accuracy score of testing data 88.87325791872668 %

In [44]:
import pickle
pickle.dump(model,open('model.pkl','wb'))

# **Our model is trained now Successfully now !**