# **Understand The Dataset**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_combined = pd.read_csv('Lending_Clubs_loan_approval_optimization.csv')

In [3]:
df_combined.head()

,Unnamed: 0,Amount Requested,Risk_Score,Debt-To-Income Ratio,Employment Length,Target
0,0,3600.0,677.0,5.91,10,1
1,1,24700.0,717.0,16.06,10,1
2,2,20000.0,697.0,10.78,10,1
3,3,10400.0,697.0,25.37,3,1
4,4,11950.0,692.0,10.20,4,1

In [4]:
df_combined.shape

(2072806, 6)

In [5]:
df_combined.columns

Index(['Unnamed: 0', 'Amount Requested', 'Risk_Score', 'Debt-To-Income Ratio',
       'Employment Length', 'Target'],
      dtype='object')

In [6]:
df_combined.value_counts

<bound method DataFrame.value_counts of          Unnamed: 0  Amount Requested  Risk_Score  Debt-To-Income Ratio  \
0                 0            3600.0       677.0                  5.91
1                 1           24700.0       717.0                 16.06
2                 2           20000.0       697.0                 10.78
3                 3           10400.0       697.0                 25.37
4                 4           11950.0       692.0                 10.20
...             ...               ...         ...                   ...
2072801     2072801           20000.0       680.0                 45.15
2072802     2072802           20000.0       602.0                 15.87
2072803     2072803            6000.0       667.0                 63.74
2072804     2072804            3000.0       602.0                 14.82
2072805     2072805           15000.0       621.0                 35.88

         Employment Length  Target
0                       10       1
1                       10       1
2                       10       1
3                        3       1
4                        4       1
...                    ...     ...
2072801                  0       0
2072802                  0       0
2072803                  5       0
2072804                  0       0
2072805                  0       0

[2072806 rows x 6 columns]>

# **Lets Split the Data for training and Testing**

---


We need to perform Feature Scaling when we are dealing with Gradient Descent Based algorithms (Linear and Logistic Regression, Neural Network) and Distance-based algorithms (KNN, K-means, SVM) as these are very sensitive to the range of the data points

In [7]:
df_combined.head(2)

,Unnamed: 0,Amount Requested,Risk_Score,Debt-To-Income Ratio,Employment Length,Target
0,0,3600.0,677.0,5.91,10,1
1,1,24700.0,717.0,16.06,10,1

In [8]:
df_combined.Target

0          1
1          1
2          1
3          1
4          1
          ..
2072801    0
2072802    0
2072803    0
2072804    0
2072805    0
Name: Target, Length: 2072806, dtype: int64

In [9]:
X = df_combined.iloc[:, 1:4]
Y = df_combined.iloc[:, 5]

In [10]:
from sklearn.model_selection import train_test_split

In [12]:
X_train , X_test , y_train , y_test = train_test_split(X, Y, test_size = 0.25, random_state = 0)

In [13]:
X_test.shape

(518202, 3)

In [14]:
X_train.shape

(1554604, 3)

In [15]:
y_test.shape

(518202,)

In [16]:
y_train.shape

(1554604,)

# **Let's train the our ML model**

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
lr = LogisticRegression()

In [20]:
model = LogisticRegression()
model.fit(X_train , y_train)
pred = model.predict(X_test)
print ('-'*40)

y_pred = model.predict(X_test)
print('Accuracy = %0.4f'%np.mean(y_pred == y_test))
# print ('Accuracy of Logistic Regression: {:.3f}'.format(Accuracy_score(pred , y_test)*100))
print ('-'*40)

----------------------------------------
Accuracy = 0.8528
----------------------------------------

In [21]:
import pickle
pickle.dump(model,open('model.pkl','wb'))

# **Our model is trained now Successfully now !**